*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none !important;
    padding: 13px 20px !important;
    margin: 10px !important;
   

}

body{
    background-color: #f2faf0;

}
.hidden{
    visibility: hidden;
}
.pad{
    display: inline-block;
    min-width: 300px;
    max-width: 310px;
    background-color: rgb(72, 241, 11);
    padding: 10px;
    
}
input,span{
    display: inline-block; 
    text-align: right; 
    width: 95%;
    color: rgb(0, 0, 0);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
result{
    background-color:   rgb(239, 235, 235);
    border: none;
    color: rgb(159, 157, 157);
    font-size: 1.5rem;
    font-weight: bold;
}
span{
    font-size: 1.2rem;
    height: 38.5px;
    overflow: hidden;
}
